.bread_crumbs_root__jaU8F {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 15px!important;
    padding-bottom: 15px!important;
    overflow-x: auto;
    white-space: nowrap
}

.bread_crumbs_root__jaU8F>.bread_crumbs_link_item__kNR4h {
    margin-right: 4px;
    color: #787879
}

.bread_crumbs_root__jaU8F>.bread_crumbs_link_item__kNR4h a {
    color: #787879;
    font-size: 13px;
    text-transform: capitalize
}

@media(min-width: 1200px) {
    .bread_crumbs_root__jaU8F>.bread_crumbs_link_item__kNR4h a {
        font-size:16px
    }
}

.bread_crumbs_root__jaU8F>.bread_crumbs_link_item__kNR4h a:hover {
    color: #444
}

@-webkit-keyframes navbar_placeholderShimmer__CGP6U {
    0% {
        background-position: -468px 0
    }

    to {
        background-position: 468px 0
    }
}

@keyframes navbar_placeholderShimmer__CGP6U {
    0% {
        background-position: -468px 0
    }

    to {
        background-position: 468px 0
    }
}

@-webkit-keyframes navbar_fade-in__GghAz {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes navbar_fade-in__GghAz {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes navbar_right-to-left-page__d4LO0 {
    0% {
        position: fixed;
        right: -300px;
        width: 105%;
        opacity: .8
    }

    to {
        position: fixed;
        right: 0;
        width: 100%;
        opacity: 1
    }
}

@keyframes navbar_right-to-left-page__d4LO0 {
    0% {
        position: fixed;
        right: -300px;
        width: 105%;
        opacity: .8
    }

    to {
        position: fixed;
        right: 0;
        width: 100%;
        opacity: 1
    }
}

@-webkit-keyframes navbar_bottom-to-top-page__BeE2K {
    0% {
        position: fixed;
        top: 500px;
        opacity: .8
    }

    to {
        position: fixed;
        top: 0;
        opacity: 1
    }
}

@keyframes navbar_bottom-to-top-page__BeE2K {
    0% {
        position: fixed;
        top: 500px;
        opacity: .8
    }

    to {
        position: fixed;
        top: 0;
        opacity: 1
    }
}

@-webkit-keyframes navbar_top-to-bottom-page__v_SNx {
    0% {
        position: fixed;
        top: 0;
        opacity: 1
    }

    to {
        position: fixed;
        top: 500px;
        opacity: 0
    }
}

@keyframes navbar_top-to-bottom-page__v_SNx {
    0% {
        position: fixed;
        top: 0;
        opacity: 1
    }

    to {
        position: fixed;
        top: 500px;
        opacity: 0
    }
}

@-webkit-keyframes navbar_scale-small-to-big__0glAF {
    0% {
        position: fixed;
        opacity: .8;
        scale: .1,.1
    }

    to {
        position: fixed;
        opacity: 1;
        scale: 1,1
    }
}

@keyframes navbar_scale-small-to-big__0glAF {
    0% {
        position: fixed;
        opacity: .8;
        scale: .1,.1
    }

    to {
        position: fixed;
        opacity: 1;
        scale: 1,1
    }
}

@-webkit-keyframes navbar_overlay-animation__j_cF_ {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes navbar_overlay-animation__j_cF_ {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes navbar_center-popup__OE9Ms {
    0% {
        opacity: 0;
        -webkit-transform: scale(.4);
        transform: scale(.4)
    }

    90% {
        opacity: 1;
        -webkit-transform: scale(1.03);
        transform: scale(1.03)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes navbar_center-popup__OE9Ms {
    0% {
        opacity: 0;
        -webkit-transform: scale(.4);
        transform: scale(.4)
    }

    90% {
        opacity: 1;
        -webkit-transform: scale(1.03);
        transform: scale(1.03)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.navbar_cmn_navbar__SFE7J {
    text-decoration: none;
    width: 100%;
    height: 100%;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.145);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.145)
}

.navbar_cmn_navbar__SFE7J .navbar_nav_tab__D5_dl {
    height: 100%;
    text-align: center
}

.navbar_cmn_navbar__SFE7J .navbar_nav_tab__D5_dl button {
    width: 100%;
    height: 100%;
    padding: 0 12px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.navbar_cmn_navbar__SFE7J .navbar_nav_tab__D5_dl button>span {
    display: block
}

.navbar_cmn_navbar__SFE7J .navbar_nav_tab__D5_dl button .navbar_icon__r6aIh {
    font-size: 15px;
    width: 22px;
    height: 22px
}

.navbar_cmn_navbar__SFE7J .navbar_nav_tab__D5_dl button .navbar_label__C_Pr1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    line-height: 15px;
    color: #9b9b9b;
    padding-top: 3px
}

.navbar_cmn_navbar__SFE7J .navbar_active_tab__O0TgT {
    position: relative
}

.navbar_cmn_navbar__SFE7J .navbar_active_tab__O0TgT .navbar_icon__r6aIh {
    color: #2b79ff;
    font-weight: 800;
    width: 22px;
    height: 24px
}

.navbar_cmn_navbar__SFE7J .navbar_active_tab__O0TgT .navbar_label__C_Pr1 {
    font-weight: 600;
    color: #444!important
}

.Subheader_root__tpL7t {
    width: 100%;
    height: 60px;
    background-color: #fff;
    border: 1px solid #f2f2f2
}

@media(min-width: 1200px) {
    .Subheader_root__tpL7t {
        height:70px
    }
}

.Subheader_tabs__RHYKj {
    overflow: auto;
    white-space: nowrap
}

.Subheader_links__ELxXo,.Subheader_tabs__RHYKj {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.Subheader_links__ELxXo {
    font-family: RobotoNormal,sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #7b7b7b;
    margin-right: 5px;
    border-bottom: 2px solid rgba(0,0,0,0);
    padding: 0 10px
}

@media(min-width: 1200px) {
    .Subheader_links__ELxXo {
        font-size:16px;
        line-height: 19px;
        margin-right: 55px
    }
}

.Subheader_active_link__DQ3iq {
    color: #2d7aff;
    border-bottom-color: #2d7aff
}

@-webkit-keyframes navbar_layout_v1_placeholderShimmer__XepNz {
    0% {
        background-position: -468px 0
    }

    to {
        background-position: 468px 0
    }
}

@keyframes navbar_layout_v1_placeholderShimmer__XepNz {
    0% {
        background-position: -468px 0
    }

    to {
        background-position: 468px 0
    }
}

@-webkit-keyframes navbar_layout_v1_fade-in__Ce0O5 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes navbar_layout_v1_fade-in__Ce0O5 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes navbar_layout_v1_right-to-left-page__xdTf0 {
    0% {
        position: fixed;
        right: -300px;
        width: 105%;
        opacity: .8
    }

    to {
        position: fixed;
        right: 0;
        width: 100%;
        opacity: 1
    }
}

@keyframes navbar_layout_v1_right-to-left-page__xdTf0 {
    0% {
        position: fixed;
        right: -300px;
        width: 105%;
        opacity: .8
    }

    to {
        position: fixed;
        right: 0;
        width: 100%;
        opacity: 1
    }
}

@-webkit-keyframes navbar_layout_v1_bottom-to-top-page__YqJyT {
    0% {
        position: fixed;
        top: 500px;
        opacity: .8
    }

    to {
        position: fixed;
        top: 0;
        opacity: 1
    }
}

@keyframes navbar_layout_v1_bottom-to-top-page__YqJyT {
    0% {
        position: fixed;
        top: 500px;
        opacity: .8
    }

    to {
        position: fixed;
        top: 0;
        opacity: 1
    }
}

@-webkit-keyframes navbar_layout_v1_top-to-bottom-page__kN7MF {
    0% {
        position: fixed;
        top: 0;
        opacity: 1
    }

    to {
        position: fixed;
        top: 500px;
        opacity: 0
    }
}

@keyframes navbar_layout_v1_top-to-bottom-page__kN7MF {
    0% {
        position: fixed;
        top: 0;
        opacity: 1
    }

    to {
        position: fixed;
        top: 500px;
        opacity: 0
    }
}

@-webkit-keyframes navbar_layout_v1_scale-small-to-big__LY9_s {
    0% {
        position: fixed;
        opacity: .8;
        scale: .1,.1
    }

    to {
        position: fixed;
        opacity: 1;
        scale: 1,1
    }
}

@keyframes navbar_layout_v1_scale-small-to-big__LY9_s {
    0% {
        position: fixed;
        opacity: .8;
        scale: .1,.1
    }

    to {
        position: fixed;
        opacity: 1;
        scale: 1,1
    }
}

@-webkit-keyframes navbar_layout_v1_overlay-animation__zSoqx {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes navbar_layout_v1_overlay-animation__zSoqx {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes navbar_layout_v1_center-popup__1iCFv {
    0% {
        opacity: 0;
        -webkit-transform: scale(.4);
        transform: scale(.4)
    }

    90% {
        opacity: 1;
        -webkit-transform: scale(1.03);
        transform: scale(1.03)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes navbar_layout_v1_center-popup__1iCFv {
    0% {
        opacity: 0;
        -webkit-transform: scale(.4);
        transform: scale(.4)
    }

    90% {
        opacity: 1;
        -webkit-transform: scale(1.03);
        transform: scale(1.03)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.navbar_layout_v1_navbar_layout_v1__09XVx {
    width: 100%;
    min-height: 100%;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.navbar_layout_v1_navbar_layout_v1__09XVx>.navbar_layout_v1_head__tqm_j {
    font-size: 18px;
    padding: 18.5px 15px;
    height: 60px
}

.navbar_layout_v1_navbar_layout_v1__09XVx>.navbar_layout_v1_body__5QYxu {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative
}

.navbar_layout_v1_navbar_layout_v1__09XVx>.navbar_layout_v1_navbar__fjsX2 {
    height: 56px;
    width: 100%;
    z-index: 10;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: fixed;
    bottom: 0
}

.AdditionalContent_title__FmquM {
    margin: 30px 0 0
}

.AdditionalContent_title_text__l9fU4 {
    margin-top: 40px;
    font-size: 25px;
    line-height: 31px;
    font-family: RobotoMedium,sans-serif;
    color: #00163e
}

@media(max-width: 767px) {
    .AdditionalContent_title_text__l9fU4 {
        font-family:RobotoBold,sans-serif;
        font-size: 18px;
        line-height: 22px
    }
}

.AdditionalContent_content__9a3T3 {
    display: block;
    margin-top: 10px;
    font-family: RobotoNormal,sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #5568a0
}

@media(max-width: 767px) {
    .AdditionalContent_content__9a3T3 {
        font-size:14px;
        line-height: 20px
    }
}

ul.AdditionalContent_content__9a3T3 {
    padding-left: 16px
}

.AdditionalContent_wrapper__wTqS3 {
    width: 100%
}

@media(min-width: 1200px) {
    .AdditionalContent_wrapper__wTqS3 {
        max-width:1124px;
        margin: 0 auto
    }
}

.AdditionalContent_container__tmZJ_ {
    width: 100%;
    padding: 0 16px 42px
}

@media(min-width: 1200px) {
    .AdditionalContent_container__tmZJ_ {
        padding-bottom:64px
    }
}

.AdditionalContent_content_2__ezqCU {
    color: #444
}

@media(min-width: 1200px) {
    .AdditionalContent_content_2__ezqCU {
        font-size:15px
    }

    .AdditionalContent_title_text_2__2LRbH {
        font-size: 18px
    }
}

@-webkit-keyframes FAQs_placeholderShimmer__RN4Ex {
    0% {
        background-position: -468px 0
    }

    to {
        background-position: 468px 0
    }
}

@keyframes FAQs_placeholderShimmer__RN4Ex {
    0% {
        background-position: -468px 0
    }

    to {
        background-position: 468px 0
    }
}

@-webkit-keyframes FAQs_fade-in__LnnFE {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes FAQs_fade-in__LnnFE {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes FAQs_right-to-left-page__ZtqYS {
    0% {
        position: fixed;
        right: -300px;
        width: 105%;
        opacity: .8
    }

    to {
        position: fixed;
        right: 0;
        width: 100%;
        opacity: 1
    }
}

@keyframes FAQs_right-to-left-page__ZtqYS {
    0% {
        position: fixed;
        right: -300px;
        width: 105%;
        opacity: .8
    }

    to {
        position: fixed;
        right: 0;
        width: 100%;
        opacity: 1
    }
}

@-webkit-keyframes FAQs_bottom-to-top-page__p9pRB {
    0% {
        position: fixed;
        top: 500px;
        opacity: .8
    }

    to {
        position: fixed;
        top: 0;
        opacity: 1
    }
}

@keyframes FAQs_bottom-to-top-page__p9pRB {
    0% {
        position: fixed;
        top: 500px;
        opacity: .8
    }

    to {
        position: fixed;
        top: 0;
        opacity: 1
    }
}

@-webkit-keyframes FAQs_top-to-bottom-page__aciYm {
    0% {
        position: fixed;
        top: 0;
        opacity: 1
    }

    to {
        position: fixed;
        top: 500px;
        opacity: 0
    }
}

@keyframes FAQs_top-to-bottom-page__aciYm {
    0% {
        position: fixed;
        top: 0;
        opacity: 1
    }

    to {
        position: fixed;
        top: 500px;
        opacity: 0
    }
}

@-webkit-keyframes FAQs_scale-small-to-big__USNSj {
    0% {
        position: fixed;
        opacity: .8;
        scale: .1,.1
    }

    to {
        position: fixed;
        opacity: 1;
        scale: 1,1
    }
}

@keyframes FAQs_scale-small-to-big__USNSj {
    0% {
        position: fixed;
        opacity: .8;
        scale: .1,.1
    }

    to {
        position: fixed;
        opacity: 1;
        scale: 1,1
    }
}

@-webkit-keyframes FAQs_overlay-animation__Gzmsz {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes FAQs_overlay-animation__Gzmsz {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes FAQs_center-popup__NNn7Y {
    0% {
        opacity: 0;
        -webkit-transform: scale(.4);
        transform: scale(.4)
    }

    90% {
        opacity: 1;
        -webkit-transform: scale(1.03);
        transform: scale(1.03)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes FAQs_center-popup__NNn7Y {
    0% {
        opacity: 0;
        -webkit-transform: scale(.4);
        transform: scale(.4)
    }

    90% {
        opacity: 1;
        -webkit-transform: scale(1.03);
        transform: scale(1.03)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.FAQs_root__ixalE {
    overflow: hidden;
    padding: 60px 16px 0
}

@media(min-width: 1200px) {
    .FAQs_root__ixalE {
        padding:120px 0 60px;
        max-width: 1000px
    }
}

.FAQs_root__ixalE>.FAQs_head__I_1TR {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center
}

.FAQs_root__ixalE>.FAQs_head__I_1TR>.FAQs_title_text__HAQoR {
    font-family: RobotoBold,sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #00163e
}

@media(min-width: 1200px) {
    .FAQs_root__ixalE>.FAQs_head__I_1TR>.FAQs_title_text__HAQoR {
        font-size:25px;
        line-height: 31px
    }
}

.FAQs_root__ixalE>.FAQs_head__I_1TR>.FAQs_bar__d1wp7 {
    height: 1px;
    background-color: rgba(0,0,0,.2);
    width: 80px;
    margin-top: 15px
}

@media(min-width: 1200px) {
    .FAQs_root__ixalE>.FAQs_head__I_1TR>.FAQs_bar__d1wp7 {
        margin-top:20px
    }
}

.FAQs_root__ixalE>.FAQs_head__I_1TR>.FAQs_subtitle__jJdfW {
    margin-bottom: 32px;
    font-family: RobotoNormal,sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 170%;
    text-align: center;
    color: #5568a0;
    display: inline-block
}

@media(min-width: 1200px) {
    .FAQs_root__ixalE>.FAQs_head__I_1TR>.FAQs_subtitle__jJdfW {
        font-size:20px;
        line-height: 170%;
        width: 600px;
        margin-bottom: 80px
    }
}

.FAQs_root__ixalE>.FAQs_body__L3jrf {
    margin-top: 30px
}

.FAQs_root__ixalE>.FAQs_body__L3jrf>.FAQs_item__Le_s1 {
    margin-bottom: 12px;
    border-radius: 16px;
    padding: 16px;
    background: -webkit-gradient(linear,left bottom,left top,from(#f6f7fb),to(#f6f7fb)),#fff;
    background: -o-linear-gradient(bottom,#f6f7fb,#f6f7fb),#fff;
    background: linear-gradient(0deg,#f6f7fb,#f6f7fb),#fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column
}

@media(min-width: 1200px) {
    .FAQs_root__ixalE>.FAQs_body__L3jrf>.FAQs_item__Le_s1 {
        padding:30px 40px;
        margin-bottom: 40px
    }
}

.FAQs_root__ixalE>.FAQs_body__L3jrf>.FAQs_item__Le_s1>.FAQs_question__okBQQ {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
}

.FAQs_root__ixalE>.FAQs_body__L3jrf>.FAQs_item__Le_s1>.FAQs_question__okBQQ>.FAQs_title__pwMic {
    font-size: 12px;
    line-height: 17px;
    font-family: RobotoMedium,sans-serif;
    color: #00163e
}

@media(min-width: 1200px) {
    .FAQs_root__ixalE>.FAQs_body__L3jrf>.FAQs_item__Le_s1>.FAQs_question__okBQQ>.FAQs_title__pwMic {
        font-family:RobotoMedium,sans-serif;
        font-size: 20px;
        line-height: 26px
    }
}

.FAQs_root__ixalE>.FAQs_body__L3jrf>.FAQs_item__Le_s1>.FAQs_question__okBQQ>.FAQs_icon__EZ10Z {
    width: 16px;
    height: 16px;
    margin-left: 25px;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    cursor: pointer
}

@media(min-width: 1200px) {
    .FAQs_root__ixalE>.FAQs_body__L3jrf>.FAQs_item__Le_s1>.FAQs_question__okBQQ>.FAQs_icon__EZ10Z {
        width:20px;
        height: 20px
    }
}

.FAQs_root__ixalE>.FAQs_body__L3jrf>.FAQs_item__Le_s1>.FAQs_question__okBQQ>.FAQs_accordian_down__o02_6 {
    width: 16px;
    height: 16px;
    margin-left: 25px;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    cursor: pointer
}

@media(min-width: 1200px) {
    .FAQs_root__ixalE>.FAQs_body__L3jrf>.FAQs_item__Le_s1>.FAQs_question__okBQQ>.FAQs_accordian_down__o02_6 {
        width:20px;
        height: 20px
    }
}

.FAQs_root__ixalE>.FAQs_body__L3jrf>.FAQs_item__Le_s1>.FAQs_question__okBQQ>.FAQs_accordian_up__YpsGF {
    width: 16px;
    height: 16px;
    margin-left: 25px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    cursor: pointer
}

@media(min-width: 1200px) {
    .FAQs_root__ixalE>.FAQs_body__L3jrf>.FAQs_item__Le_s1>.FAQs_question__okBQQ>.FAQs_accordian_up__YpsGF {
        width:20px;
        height: 20px
    }
}

.FAQs_root__ixalE>.FAQs_body__L3jrf>.FAQs_item__Le_s1>.FAQs_desc__3DglO {
    font-family: RobotoNormal,sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #5568a0;
    padding: 0 50px 14px 0;
    list-style-position: inside;
    margin-top: 8px
}

@media(min-width: 1200px) {
    .FAQs_root__ixalE>.FAQs_body__L3jrf>.FAQs_item__Le_s1>.FAQs_desc__3DglO {
        padding-top:10px;
        padding-bottom: 10px;
        font-size: 16px;
        line-height: 24px;
        text-align: left
    }

    .Interlinking_root__oR9VY>.Interlinking_box__Xeblk {
        border: 2px solid #f6f6f6;
        border-radius: 8px
    }
}

.Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_title__LePud>.Interlinking_title_text__4fPE4 {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-family: RobotoMedium,sans-serif;
    color: #5568a0;
    padding-top: 10px
}

@media(min-width: 1200px) {
    .Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_title__LePud>.Interlinking_title_text__4fPE4 {
        font-size:18px;
        line-height: 23px
    }
}

.Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk {
    padding: 4px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,auto));
    grid-auto-rows: minmax(30px,auto)
}

@media(min-width: 1200px) {
    .Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk {
        grid-template-columns:repeat(auto-fill,minmax(245px,auto));
        grid-auto-rows: minmax(35px,auto);
        overflow-x: hidden;
        overflow-y: auto
    }
}

.Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 5px 0;
    cursor: pointer
}

@media(min-width: 1200px) {
    .Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr {
        -ms-flex-pack:left;
        justify-content: left
    }
}

.Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr svg {
    stroke: #8f92b4
}

.Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr:hover svg {
    fill: #43527f;
    stroke: #fff
}

.Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr:hover .Interlinking_left__uPYbV a {
    color: #43527f
}

.Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr>.Interlinking_svg__DGs10 {
    height: 100%;
    margin-right: 20px
}

.Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr>.Interlinking_left__uPYbV {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 10px
}

.Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr>.Interlinking_left__uPYbV>.Interlinking_icon__cXJQo {
    width: 35px;
    height: 35px;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    margin-right: 15px
}

.Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr>.Interlinking_left__uPYbV>a {
    font-size: 14px;
    line-height: 18px;
    color: #8f92b4
}

@media(min-width: 1200px) {
    .Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr>.Interlinking_left__uPYbV>a {
        font-size:16px;
        line-height: 20px
    }
}

.Interlinking_root_type_icon___AvV2>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr {
    background-color: rgba(0,0,0,0)
}

.Interlinking_root_type_icon___AvV2>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr:hover {
    background-color: rgba(0,0,0,.04)
}

.Interlinking_root_type_arrow__NlxQe .Interlinking_left__uPYbV {
    height: 100%;
    -ms-flex-align: baseline!important;
    align-items: baseline!important
}

.Interlinking_root_type_bigIcon__10wEr>.Interlinking_box__Xeblk {
    margin-bottom: 10px
}

.Interlinking_root_type_bigIcon__10wEr>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.Interlinking_root_type_bigIcon__10wEr>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr>.Interlinking_left__uPYbV {
    margin: 0!important;
    height: 110px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.Interlinking_root_type_bigIcon__10wEr>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr>.Interlinking_left__uPYbV>.Interlinking_icon__cXJQo {
    width: 50px!important;
    height: 50px!important
}

@media(min-width: 1200px) {
    .Interlinking_root_type_bigIcon__10wEr>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr>.Interlinking_left__uPYbV>.Interlinking_icon__cXJQo {
        width:60px!important;
        height: 60px!important
    }
}

.Interlinking_root_type_bigIcon__10wEr>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr>.Interlinking_left__uPYbV>a {
    width: 114px;
    height: 40px;
    overflow: hidden;
    text-align: center
}

.Transition_bttEnter__8F_St {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%)
}

.Transition_bttEnterActive__snASq {
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s
}

.Transition_bttEnterActive__snASq,.Transition_bttExit__ha9v_ {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.Transition_bttExitActive__ZCG0m {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s
}

.Transition_bttShortEnter__Qd8Gp {
    -webkit-transform: translateY(300px);
    -ms-transform: translateY(300px);
    transform: translateY(300px)
}

.Transition_bttShortEnterActive__KXcBp {
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s
}

.Transition_bttShortEnterActive__KXcBp,.Transition_bttShortExit__4pbZo {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.Transition_bttShortExitActive__2j2Xs {
    -webkit-transform: translateY(300px);
    -ms-transform: translateY(300px);
    transform: translateY(300px);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s
}

.Transition_ttbEnter__iqZsV {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%)
}

.Transition_ttbEnterActive__p7j9s {
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s
}

.Transition_ttbEnterActive__p7j9s,.Transition_ttbExit__d1rwR {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.Transition_ttbExitActive__Ahksw {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s
}

.Transition_rtlEnter___JWJe {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%)
}

.Transition_rtlEnterActive___z0tY {
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s
}

.Transition_rtlEnterActive___z0tY,.Transition_rtlExit__zXo6P {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.Transition_rtlExitActive__OCnuc {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s
}

.Transition_ltrEnter__5XR4H {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%)
}

.Transition_ltrEnterActive__XVnmm {
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s
}

.Transition_ltrEnterActive__XVnmm,.Transition_ltrExit__oGc3C {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.Transition_ltrExitActive__wjUSW {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s
}

.Transition_rtlShortEnter__Q_yay {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px)
}

.Transition_rtlShortEnterActive__ZVaEm {
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s
}

.Transition_rtlShortEnterActive__ZVaEm,.Transition_rtlShortExit__WncJu {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.Transition_rtlShortExitActive__e8cVb {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s,-webkit-transform .5s
}

.Transition_fadeEnter__EJXLW {
    opacity: 0
}

.Transition_fadeEnterActive__o0mi7 {
    opacity: 1;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s
}

.Transition_fadeExit__NiCU7 {
    opacity: 1
}

.Transition_fadeExitActive__4tcFe {
    opacity: 0;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s
}

.Transition_fadeAfterEnter__H82zJ {
    display: none;
    height: 0
}

.Transition_fadeAfterEnterActive__v4Bcm {
    opacity: 0;
    display: inline;
    display: initial
}

.Transition_fadeAfterEnterDone__xJ7cO {
    opacity: 1;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s
}

.Transition_fadeAfterExit__ITb5O {
    display: none;
    height: 0
}

.Transition_fadeAfterExitActive__7d4za {
    opacity: 0
}

.Transition_fadeAfterExitDone__e_sxY {
    opacity: 1;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s
}

.Transition_popupEnter__pI3fi {
    opacity: 0;
    -webkit-transform: scale(.6);
    -ms-transform: scale(.6);
    transform: scale(.6);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center
}

.Transition_popupEnterActive__NihYu {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transition: opacity .15s ease-in-out,-webkit-transform .15s ease-in-out;
    transition: opacity .15s ease-in-out,-webkit-transform .15s ease-in-out;
    -o-transition: transform .15s ease-in-out,opacity .15s ease-in-out;
    transition: transform .15s ease-in-out,opacity .15s ease-in-out;
    transition: transform .15s ease-in-out,opacity .15s ease-in-out,-webkit-transform .15s ease-in-out
}

.Transition_popupEnterDone__9sbSM {
    -webkit-transition: -webkit-transform .15s ease-in;
    transition: -webkit-transform .15s ease-in;
    -o-transition: transform .15s ease-in;
    transition: transform .15s ease-in;
    transition: transform .15s ease-in,-webkit-transform .15s ease-in
}

.Transition_popupEnterDone__9sbSM,.Transition_popupExit__nYD5c {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center
}

.Transition_popupExit__nYD5c {
    opacity: 1
}

.Transition_popupExitActive__5XyB8 {
    opacity: 0;
    -webkit-transform: scale(.6);
    -ms-transform: scale(.6);
    transform: scale(.6);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transition: opacity .3s ease-in,-webkit-transform .3s ease-in-out;
    transition: opacity .3s ease-in,-webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out,opacity .3s ease-in;
    transition: transform .3s ease-in-out,opacity .3s ease-in;
    transition: transform .3s ease-in-out,opacity .3s ease-in,-webkit-transform .3s ease-in-out
}

.AnimatedImage_image__7syD0 {
    visibility: hidden
}

.ParkingDetailCard_card__k1Oju {
    width: 300px;
    left: 0;
    top: 0;
    background: #fff;
    -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.12);
    box-shadow: 0 4px 16px rgba(0,0,0,.12);
    border-radius: 16px;
    margin-right: 20px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    cursor: pointer
}

.ParkingDetailCard_cardImage__iay5q img {
    width: 100%;
    height: 100px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 16px 16px 0 0
}

.ParkingDetailCard_cardDetails__L7iML {
    padding: 12px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.ParkingDetailCard_cardDetails__L7iML h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    font-family: RobotoMedium,sans-serif
}

.ParkingDetailCard_cardDetails__L7iML .ParkingDetailCard_wrap__ef1a6 {
    width: 80%
}

.ParkingDetailCard_cardDetails__L7iML .ParkingDetailCard_wrap__ef1a6 .ParkingDetailCard_cardIcons__KgtO3 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    font-size: 13px;
    line-height: 16px;
    font-family: RobotoMedium,sans-serif;
    color: #8f92b4
}

.ParkingDetailCard_cardDetails__L7iML .ParkingDetailCard_wrap__ef1a6 .ParkingDetailCard_cardIcons__KgtO3 .ParkingDetailCard_cardIcon__iFe15 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    font-family: RobotoNormal,sans-serif
}

.ParkingDetailCard_cardDetails__L7iML .ParkingDetailCard_cardDistance__XwiJm {
    height: 48px;
    min-width: 48px;
    background: #f2f3ff;
    border-radius: 8px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 5px
}

.ParkingDetailCard_cardDetails__L7iML .ParkingDetailCard_cardDistance__XwiJm .ParkingDetailCard_distance__BVaSb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center
}

.ParkingDetailCard_cardDetails__L7iML .ParkingDetailCard_cardDistance__XwiJm .ParkingDetailCard_distance__BVaSb h3 {
    font-family: RobotoBold,sans-serif;
    font-size: 16px;
    line-height: 22px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #0012ff
}

.ParkingDetailCard_cardDetails__L7iML .ParkingDetailCard_cardDistance__XwiJm .ParkingDetailCard_distance__BVaSb p {
    font-size: 12px;
    line-height: 16px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #0012ff;
    font-family: RobotoNormal,sans-serif
}

.ParkingDetailCard_card2__iGKL_ {
    background: #fff;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    border-bottom: 1px solid #e6eaf4;
    width: 100%;
    z-index: 2;
    cursor: pointer
}

.ParkingDetailCard_card2__iGKL_:last-child {
    border-bottom: 0
}

.ParkingDetailCard_isBorder__AFeyZ {
    -webkit-box-shadow: 0 4px 20px hsla(0,0%,6%,.08);
    box-shadow: 0 4px 20px hsla(0,0%,6%,.08);
    border-radius: 12px;
    border: none;
    width: 320px;
    height: 104px
}

.ParkingDetailCard_fullWidth__XuxHg {
    width: 100%!important;
    margin-right: 0!important
}

.ParkingDetailCard_isPadding__XjR24 {
    padding: 12px 0
}

.Seo_root___MjbL {
    margin: auto;
    max-width: 1200px
}

.Seo_root___MjbL .Seo_row__ePRrV {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px
}

@media screen and (max-width: 800px) {
    .Seo_root___MjbL .Seo_row__ePRrV {
        -ms-flex-direction:column;
        flex-direction: column
    }
}

.Seo_root___MjbL .Seo_row__ePRrV .Seo_widget_container__6hD_L {
    padding: 0 16px 20px
}

@media screen and (min-width: 800px) {
    .Seo_root___MjbL .Seo_row__ePRrV .Seo_widget_container__6hD_L {
        width:40%;
        padding: 10px 0
    }
}

.Seo_root___MjbL .Seo_row__ePRrV .Seo_widget_container__6hD_L .Seo_heading__Hg_6Q {
    font-size: 24px;
    line-height: 120%;
    color: #00163e;
    font-family: RobotoMedium,sans-serif;
    padding-right: 40px;
    padding-bottom: 16px
}

.Seo_root___MjbL .Seo_row__ePRrV .Seo_widget_container__6hD_L .Seo_wrapSearchBox__9b2AR {
    position: relative
}

.Seo_root___MjbL .Seo_row__ePRrV .Seo_widget_container__6hD_L .Seo_wrapSearchBox__9b2AR .Seo_searchBox__iYdIJ {
    padding: 16px 12px;
    gap: 10px;
    height: 57px;
    background: #fff;
    border: 1px solid #f0eff5;
    border-radius: 12px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center
}

.Seo_root___MjbL .Seo_row__ePRrV .Seo_widget_container__6hD_L .Seo_wrapSearchBox__9b2AR .Seo_searchBox__iYdIJ .Seo_inputBox__Kr38v {
    width: 100%
}

.Seo_root___MjbL .Seo_row__ePRrV .Seo_widget_container__6hD_L .Seo_wrapSearchBox__9b2AR .Seo_searchBox__iYdIJ .Seo_inputBox__Kr38v input {
    font-size: 20px;
    line-height: 25px;
    color: #00163e;
    width: 100%
}

.Seo_root___MjbL .Seo_row__ePRrV .Seo_widget_container__6hD_L .Seo_wrapSearchBox__9b2AR .Seo_searchResults__SYipB {
    background-color: #fff;
    padding: 5px 10px 10px;
    max-height: 300px;
    overflow: auto;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.16);
    box-shadow: 0 1px 4px rgba(0,0,0,.16);
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 9;
    margin: auto;
    border-radius: 10px
}

.Seo_root___MjbL .Seo_row__ePRrV .Seo_widget_container__6hD_L .Seo_wrapSearchBox__9b2AR .Seo_searchResults__SYipB ul {
    list-style: none
}

.Seo_root___MjbL .Seo_row__ePRrV .Seo_widget_container__6hD_L .Seo_wrapSearchBox__9b2AR .Seo_searchResults__SYipB ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ebebeb
}

.Seo_root___MjbL .Seo_row__ePRrV .Seo_widget_container__6hD_L .Seo_wrapSearchBox__9b2AR .Seo_searchResults__SYipB ul li:last-child {
    border: none
}

.Seo_root___MjbL .Seo_row__ePRrV .Seo_widget_container__6hD_L .Seo_submitBtn__HatuM {
    width: 100%;
    padding-top: 35px;
    padding-bottom: 22px;
    cursor: pointer
}

.Seo_root___MjbL .Seo_row__ePRrV .Seo_widget_container__6hD_L .Seo_submitBtn__HatuM button {
    width: 100%;
    cursor: pointer
}

.Seo_root___MjbL .Seo_row__ePRrV .Seo_parking_spot_wrapper__TpJ8L {
    padding: 24px 0;
    height: 208px;
    background: #f7f9fc;
    width: 100%
}

@media screen and (min-width: 800px) {
    .Seo_root___MjbL .Seo_row__ePRrV .Seo_parking_spot_wrapper__TpJ8L {
        width:60%
    }
}

.Seo_root___MjbL .Seo_row__ePRrV .Seo_parking_spot_wrapper__TpJ8L .Seo_wrap__y69Wf {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 16px 0
}

.Seo_root___MjbL .Seo_row__ePRrV .Seo_parking_spot_wrapper__TpJ8L .Seo_wrap__y69Wf .Seo_title__gLd_c {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #00163e;
    font-family: RobotoMedium,sans-serif;
    padding: 0
}

.Seo_root___MjbL .Seo_row__ePRrV .Seo_parking_spot_wrapper__TpJ8L .Seo_wrap__y69Wf .Seo_mapView__C_OSP {
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #0012ff;
    font-family: RobotoNormal,sans-serif;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
    -ms-flex-align: center;
    align-items: center
}

.Seo_root___MjbL .Seo_row__ePRrV .Seo_parking_spot_wrapper__TpJ8L .Seo_cardWrapper__7eO3n {
    padding: 20px;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    overflow: scroll
}

.Seo_root___MjbL .Seo_row__ePRrV .Seo_parking_spot_wrapper__TpJ8L .Seo_cardWrapper__7eO3n::-webkit-scrollbar {
    display: none
}

.Seo_root___MjbL .Seo_row__ePRrV .Seo_parking_spot_wrapper__TpJ8L .Seo_cardWrapper__7eO3n .Seo_spinner__oOHS9 {
    width: 100%;
    height: 115px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.Seo_root___MjbL .Seo_row__ePRrV .Seo_parking_spot_wrapper__TpJ8L .Seo_cardWrapper__7eO3n .Seo_noParkingSpotWrapper__7qjri {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.Seo_interlinking__oGBLm {
    padding-top: 30px;
    padding-bottom: 30px
}

.Seo_content_title__YfcaL {
    font-weight: 500;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 30px 0 0
}

.Seo_content_title__YfcaL,.Seo_title_text__mcQ4Z {
    font-size: 18px;
    font-family: RobotoMedium,sans-serif
}

.Seo_title_text__mcQ4Z {
    margin-bottom: 15px
}

@media(min-width: 1200px) {
    .Seo_title_text__mcQ4Z {
        font-size:22px;
        margin-left: 3.5%
    }
}

.Seo_content___UJBS {
    font-weight: 400;
    font-size: 14px;
    color: #5568a0
}

@media(min-width: 1200px) {
    .Seo_content___UJBS {
        font-weight:400;
        font-size: 18px;
        line-height: 26px;
        margin-left: 3.5%
    }
}

/*# sourceMappingURL=6e49711e7534b06d.css.map*/
