@-webkit-keyframes navbar_placeholderShimmer__CGP6U {
    0% {
        background-position: -468px 0
    }

    to {
        background-position: 468px 0
    }
}

@keyframes navbar_placeholderShimmer__CGP6U {
    0% {
        background-position: -468px 0
    }

    to {
        background-position: 468px 0
    }
}

@-webkit-keyframes navbar_fade-in__GghAz {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes navbar_fade-in__GghAz {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes navbar_right-to-left-page__d4LO0 {
    0% {
        position: fixed;
        right: -300px;
        width: 105%;
        opacity: .8
    }

    to {
        position: fixed;
        right: 0;
        width: 100%;
        opacity: 1
    }
}

@keyframes navbar_right-to-left-page__d4LO0 {
    0% {
        position: fixed;
        right: -300px;
        width: 105%;
        opacity: .8
    }

    to {
        position: fixed;
        right: 0;
        width: 100%;
        opacity: 1
    }
}

@-webkit-keyframes navbar_bottom-to-top-page__BeE2K {
    0% {
        position: fixed;
        top: 500px;
        opacity: .8
    }

    to {
        position: fixed;
        top: 0;
        opacity: 1
    }
}

@keyframes navbar_bottom-to-top-page__BeE2K {
    0% {
        position: fixed;
        top: 500px;
        opacity: .8
    }

    to {
        position: fixed;
        top: 0;
        opacity: 1
    }
}

@-webkit-keyframes navbar_top-to-bottom-page__v_SNx {
    0% {
        position: fixed;
        top: 0;
        opacity: 1
    }

    to {
        position: fixed;
        top: 500px;
        opacity: 0
    }
}

@keyframes navbar_top-to-bottom-page__v_SNx {
    0% {
        position: fixed;
        top: 0;
        opacity: 1
    }

    to {
        position: fixed;
        top: 500px;
        opacity: 0
    }
}

@-webkit-keyframes navbar_scale-small-to-big__0glAF {
    0% {
        position: fixed;
        opacity: .8;
        scale: .1,.1
    }

    to {
        position: fixed;
        opacity: 1;
        scale: 1,1
    }
}

@keyframes navbar_scale-small-to-big__0glAF {
    0% {
        position: fixed;
        opacity: .8;
        scale: .1,.1
    }

    to {
        position: fixed;
        opacity: 1;
        scale: 1,1
    }
}

@-webkit-keyframes navbar_overlay-animation__j_cF_ {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes navbar_overlay-animation__j_cF_ {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes navbar_center-popup__OE9Ms {
    0% {
        opacity: 0;
        -webkit-transform: scale(.4);
        transform: scale(.4)
    }

    90% {
        opacity: 1;
        -webkit-transform: scale(1.03);
        transform: scale(1.03)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes navbar_center-popup__OE9Ms {
    0% {
        opacity: 0;
        -webkit-transform: scale(.4);
        transform: scale(.4)
    }

    90% {
        opacity: 1;
        -webkit-transform: scale(1.03);
        transform: scale(1.03)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.navbar_cmn_navbar__SFE7J {
    text-decoration: none;
    width: 100%;
    height: 100%;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.145);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.145)
}

.navbar_cmn_navbar__SFE7J .navbar_nav_tab__D5_dl {
    height: 100%;
    text-align: center
}

.navbar_cmn_navbar__SFE7J .navbar_nav_tab__D5_dl button {
    width: 100%;
    height: 100%;
    padding: 0 12px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.navbar_cmn_navbar__SFE7J .navbar_nav_tab__D5_dl button>span {
    display: block
}

.navbar_cmn_navbar__SFE7J .navbar_nav_tab__D5_dl button .navbar_icon__r6aIh {
    font-size: 15px;
    width: 22px;
    height: 22px
}

.navbar_cmn_navbar__SFE7J .navbar_nav_tab__D5_dl button .navbar_label__C_Pr1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    line-height: 15px;
    color: #9b9b9b;
    padding-top: 3px
}

.navbar_cmn_navbar__SFE7J .navbar_active_tab__O0TgT {
    position: relative
}

.navbar_cmn_navbar__SFE7J .navbar_active_tab__O0TgT .navbar_icon__r6aIh {
    color: #2b79ff;
    font-weight: 800;
    width: 22px;
    height: 24px
}

.navbar_cmn_navbar__SFE7J .navbar_active_tab__O0TgT .navbar_label__C_Pr1 {
    font-weight: 600;
    color: #444!important
}

.bread_crumbs_root__jaU8F {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 15px!important;
    padding-bottom: 15px!important;
    overflow-x: auto;
    white-space: nowrap
}

.bread_crumbs_root__jaU8F>.bread_crumbs_link_item__kNR4h {
    margin-right: 4px;
    color: #787879
}

.bread_crumbs_root__jaU8F>.bread_crumbs_link_item__kNR4h a {
    color: #787879;
    font-size: 13px;
    text-transform: capitalize
}

@media(min-width: 1200px) {
    .bread_crumbs_root__jaU8F>.bread_crumbs_link_item__kNR4h a {
        font-size:16px
    }
}

.bread_crumbs_root__jaU8F>.bread_crumbs_link_item__kNR4h a:hover {
    color: #444
}

.Hero_root__3iJ_j {
    width: 100%;
    position: relative;
    min-height: 200px
}

@media(min-width: 1200px) {
    .Hero_root__3iJ_j {
        min-height:450px
    }
}

.Hero_root__3iJ_j>.Hero_info__CxLOk {
    width: 100%;
    position: relative;
    background: -o-linear-gradient(330deg,#3369f3 0,#fff 100%);
    background: linear-gradient(120deg,#3369f3,#fff)
}

.Hero_root__3iJ_j>.Hero_info__CxLOk>.Hero_image_box__Dlpar {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%
}

.Hero_root__3iJ_j>.Hero_info__CxLOk>.Hero_overlay__J1dLN {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center
}

@media(min-width: 1200px) {
    .Hero_root__3iJ_j>.Hero_info__CxLOk>.Hero_hide_desktop__rovcK {
        display:none
    }
}

.Hero_root__3iJ_j>.Hero_info__CxLOk .Hero_box__GmNMg {
    min-height: 200px;
    position: relative;
    z-index: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center
}

@media(min-width: 1200px) {
    .Hero_root__3iJ_j>.Hero_info__CxLOk .Hero_box__GmNMg {
        display:-ms-flexbox;
        display: flex;
        min-height: 420px;
        padding-right: 500px
    }
}

.Hero_root__3iJ_j>.Hero_info__CxLOk .Hero_box__GmNMg .Hero_title__fV9D5 {
    font-size: 22px;
    font-family: RobotoMedium,sans-serif;
    font-weight: 100;
    color: #f5f5f5;
    line-height: 30px;
    letter-spacing: -.02em;
    margin-bottom: 18px
}

@media(min-width: 1200px) {
    .Hero_root__3iJ_j>.Hero_info__CxLOk .Hero_box__GmNMg .Hero_title__fV9D5 {
        font-size:50px;
        font-weight: 100;
        line-height: 60px;
        width: 500px;
        margin-bottom: 40px
    }
}

.Hero_root__3iJ_j>.Hero_info__CxLOk .Hero_box__GmNMg .Hero_subtitle__z596Q {
    font-family: RobotoNormal,sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    color: #fff
}

@media(min-width: 1200px) {
    .Hero_root__3iJ_j>.Hero_info__CxLOk .Hero_box__GmNMg .Hero_subtitle__z596Q {
        font-size:16px;
        line-height: 150%;
        width: 550px
    }

    .Hero_root__3iJ_j>.Hero_widget_container__3_k2o {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0
    }
}

.Hero_root__3iJ_j>.Hero_widget_container__3_k2o>.Hero_box__GmNMg {
    position: relative;
    height: 100%;
    padding-left: 0;
    padding-right: 0
}

@media(min-width: 1200px) {
    .Hero_root__3iJ_j>.Hero_widget_container__3_k2o>.Hero_box__GmNMg {
        display:-ms-flexbox;
        display: flex;
        -ms-flex-align: end;
        align-items: flex-end;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.Hero_root__3iJ_j>.Hero_widget_container__3_k2o>.Hero_box__GmNMg>.Hero_widget__tRb7C {
    padding: 30px 16px;
    position: relative
}

@media(min-width: 1200px) {
    .Hero_root__3iJ_j>.Hero_widget_container__3_k2o>.Hero_box__GmNMg>.Hero_widget__tRb7C {
        max-width:448px;
        min-width: 450px
    }
}

.Subheader_root__tpL7t {
    width: 100%;
    height: 60px;
    background-color: #fff;
    border: 1px solid #f2f2f2
}

@media(min-width: 1200px) {
    .Subheader_root__tpL7t {
        height:70px
    }
}

.Subheader_tabs__RHYKj {
    overflow: auto;
    white-space: nowrap
}

.Subheader_links__ELxXo,.Subheader_tabs__RHYKj {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.Subheader_links__ELxXo {
    font-family: RobotoNormal,sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #7b7b7b;
    margin-right: 5px;
    border-bottom: 2px solid rgba(0,0,0,0);
    padding: 0 10px
}

@media(min-width: 1200px) {
    .Subheader_links__ELxXo {
        font-size:16px;
        line-height: 19px;
        margin-right: 55px
    }
}

.Subheader_active_link__DQ3iq {
    color: #2d7aff;
    border-bottom-color: #2d7aff
}

.Jumbo_root__Ps8pZ {
    padding-bottom: 30px
}

.Jumbo_root__Ps8pZ table {
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    border-radius: 12px;
    -webkit-box-shadow: 0 0 0 1px #edf0f9;
    box-shadow: 0 0 0 1px #edf0f9
}

.Jumbo_root__Ps8pZ table th {
    padding: 20px
}

.Jumbo_root__Ps8pZ ::-webkit-scrollbar {
    display: none
}

.Jumbo_root__Ps8pZ a {
    color: blue
}

.Jumbo_root__Ps8pZ strong {
    font-family: RobotoBold,sans-serif;
    font-size: 18px;
    color: #00163e
}

.Jumbo_root__Ps8pZ img {
    width: 100%
}

.Jumbo_root__Ps8pZ>.Jumbo_item__avR1h {
    margin-top: 30px
}

.Jumbo_root__Ps8pZ>.Jumbo_item__avR1h>.Jumbo_head__N1T94>.Jumbo_heading__REXRw {
    font-size: 32px;
    line-height: 40px;
    font-family: RobotoBold,sans-serif;
    color: #00163e
}

@media(max-width: 767px) {
    .Jumbo_root__Ps8pZ>.Jumbo_item__avR1h>.Jumbo_head__N1T94>.Jumbo_heading__REXRw {
        font-size:22px;
        line-height: 26px
    }
}

.Jumbo_root__Ps8pZ>.Jumbo_item__avR1h>.Jumbo_head__N1T94>.Jumbo_subheading__Ubjr5 {
    display: block;
    font-family: RobotoNormal,sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    color: #5568a0
}

@media(max-width: 767px) {
    .Jumbo_root__Ps8pZ>.Jumbo_item__avR1h>.Jumbo_head__N1T94>.Jumbo_subheading__Ubjr5 {
        margin-bottom:0;
        font-size: 14px;
        line-height: 20px
    }
}

.Jumbo_root__Ps8pZ>.Jumbo_item__avR1h>.Jumbo_head__N1T94>.Jumbo_media__QdYvc {
    margin-top: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.Jumbo_root__Ps8pZ>.Jumbo_item__avR1h>.Jumbo_head__N1T94>.Jumbo_media__QdYvc .Jumbo_item__avR1h {
    border-radius: 5px;
    overflow: hidden
}

.Jumbo_root__Ps8pZ>.Jumbo_item__avR1h>.Jumbo_head__N1T94>.Jumbo_media__QdYvc .Jumbo_item__avR1h img {
    width: 100%
}

.Jumbo_root__Ps8pZ>.Jumbo_item__avR1h>.Jumbo_section__TW9CM {
    margin-bottom: 20px
}

.Jumbo_root__Ps8pZ>.Jumbo_item__avR1h>.Jumbo_section__TW9CM>.Jumbo_title__uhuyZ {
    font-family: RobotoBold,sans-serif;
    color: #00163e;
    font-size: 18px;
    line-height: 22px;
    padding-top: 40px
}

@media(min-width: 1200px) {
    .Jumbo_root__Ps8pZ>.Jumbo_item__avR1h>.Jumbo_section__TW9CM>.Jumbo_title__uhuyZ {
        padding-top:20px;
        font-size: 24px;
        line-height: 28px
    }
}

.Jumbo_root__Ps8pZ>.Jumbo_item__avR1h>.Jumbo_section__TW9CM>.Jumbo_subtitle__cgPqi {
    display: block;
    margin-top: 10px;
    font-family: RobotoNormal,sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #5568a0
}

@media(max-width: 767px) {
    .Jumbo_root__Ps8pZ>.Jumbo_item__avR1h>.Jumbo_section__TW9CM>.Jumbo_subtitle__cgPqi {
        margin-right:5px;
        font-size: 14px;
        line-height: 22px
    }
}

.Jumbo_root__Ps8pZ>.Jumbo_item__avR1h>.Jumbo_section__TW9CM>.Jumbo_media__QdYvc {
    margin-top: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%
}

.Jumbo_root__Ps8pZ>.Jumbo_item__avR1h>.Jumbo_section__TW9CM>.Jumbo_media__QdYvc .Jumbo_item__avR1h {
    width: 100%;
    border-radius: 5px;
    overflow: hidden
}

.Jumbo_root__Ps8pZ>.Jumbo_item__avR1h>.Jumbo_section__TW9CM>.Jumbo_media__QdYvc .Jumbo_item__avR1h img {
    width: 100%
}

.Jumbo_root__Ps8pZ>.Jumbo_item__avR1h:first-child {
    margin-top: 0
}

@media(min-width: 1200px) {
    .Interlinking_root__oR9VY>.Interlinking_box__Xeblk {
        border:2px solid #f6f6f6;
        border-radius: 8px
    }
}

.Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_title__LePud>.Interlinking_title_text__4fPE4 {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-family: RobotoMedium,sans-serif;
    color: #5568a0;
    padding-top: 10px
}

@media(min-width: 1200px) {
    .Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_title__LePud>.Interlinking_title_text__4fPE4 {
        font-size:18px;
        line-height: 23px
    }
}

.Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk {
    padding: 4px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,auto));
    grid-auto-rows: minmax(30px,auto)
}

@media(min-width: 1200px) {
    .Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk {
        grid-template-columns:repeat(auto-fill,minmax(245px,auto));
        grid-auto-rows: minmax(35px,auto);
        overflow-x: hidden;
        overflow-y: auto
    }
}

.Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 5px 0;
    cursor: pointer
}

@media(min-width: 1200px) {
    .Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr {
        -ms-flex-pack:left;
        justify-content: left
    }
}

.Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr svg {
    stroke: #8f92b4
}

.Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr:hover svg {
    fill: #43527f;
    stroke: #fff
}

.Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr:hover .Interlinking_left__uPYbV a {
    color: #43527f
}

.Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr>.Interlinking_svg__DGs10 {
    height: 100%;
    margin-right: 20px
}

.Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr>.Interlinking_left__uPYbV {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 10px
}

.Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr>.Interlinking_left__uPYbV>.Interlinking_icon__cXJQo {
    width: 35px;
    height: 35px;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    margin-right: 15px
}

.Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr>.Interlinking_left__uPYbV>a {
    font-size: 14px;
    line-height: 18px;
    color: #8f92b4
}

@media(min-width: 1200px) {
    .Interlinking_root__oR9VY>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr>.Interlinking_left__uPYbV>a {
        font-size:16px;
        line-height: 20px
    }
}

.Interlinking_root_type_icon___AvV2>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr {
    background-color: rgba(0,0,0,0)
}

.Interlinking_root_type_icon___AvV2>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr:hover {
    background-color: rgba(0,0,0,.04)
}

.Interlinking_root_type_arrow__NlxQe .Interlinking_left__uPYbV {
    height: 100%;
    -ms-flex-align: baseline!important;
    align-items: baseline!important
}

.Interlinking_root_type_bigIcon__10wEr>.Interlinking_box__Xeblk {
    margin-bottom: 10px
}

.Interlinking_root_type_bigIcon__10wEr>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.Interlinking_root_type_bigIcon__10wEr>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr>.Interlinking_left__uPYbV {
    margin: 0!important;
    height: 110px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.Interlinking_root_type_bigIcon__10wEr>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr>.Interlinking_left__uPYbV>.Interlinking_icon__cXJQo {
    width: 50px!important;
    height: 50px!important
}

@media(min-width: 1200px) {
    .Interlinking_root_type_bigIcon__10wEr>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr>.Interlinking_left__uPYbV>.Interlinking_icon__cXJQo {
        width:60px!important;
        height: 60px!important
    }
}

.Interlinking_root_type_bigIcon__10wEr>.Interlinking_box__Xeblk>.Interlinking_body__vmqBk>.Interlinking_link_item__jkPsr>.Interlinking_left__uPYbV>a {
    width: 114px;
    height: 40px;
    overflow: hidden;
    text-align: center
}

@-webkit-keyframes navbar_layout_v1_placeholderShimmer__XepNz {
    0% {
        background-position: -468px 0
    }

    to {
        background-position: 468px 0
    }
}

@keyframes navbar_layout_v1_placeholderShimmer__XepNz {
    0% {
        background-position: -468px 0
    }

    to {
        background-position: 468px 0
    }
}

@-webkit-keyframes navbar_layout_v1_fade-in__Ce0O5 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes navbar_layout_v1_fade-in__Ce0O5 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes navbar_layout_v1_right-to-left-page__xdTf0 {
    0% {
        position: fixed;
        right: -300px;
        width: 105%;
        opacity: .8
    }

    to {
        position: fixed;
        right: 0;
        width: 100%;
        opacity: 1
    }
}

@keyframes navbar_layout_v1_right-to-left-page__xdTf0 {
    0% {
        position: fixed;
        right: -300px;
        width: 105%;
        opacity: .8
    }

    to {
        position: fixed;
        right: 0;
        width: 100%;
        opacity: 1
    }
}

@-webkit-keyframes navbar_layout_v1_bottom-to-top-page__YqJyT {
    0% {
        position: fixed;
        top: 500px;
        opacity: .8
    }

    to {
        position: fixed;
        top: 0;
        opacity: 1
    }
}

@keyframes navbar_layout_v1_bottom-to-top-page__YqJyT {
    0% {
        position: fixed;
        top: 500px;
        opacity: .8
    }

    to {
        position: fixed;
        top: 0;
        opacity: 1
    }
}

@-webkit-keyframes navbar_layout_v1_top-to-bottom-page__kN7MF {
    0% {
        position: fixed;
        top: 0;
        opacity: 1
    }

    to {
        position: fixed;
        top: 500px;
        opacity: 0
    }
}

@keyframes navbar_layout_v1_top-to-bottom-page__kN7MF {
    0% {
        position: fixed;
        top: 0;
        opacity: 1
    }

    to {
        position: fixed;
        top: 500px;
        opacity: 0
    }
}

@-webkit-keyframes navbar_layout_v1_scale-small-to-big__LY9_s {
    0% {
        position: fixed;
        opacity: .8;
        scale: .1,.1
    }

    to {
        position: fixed;
        opacity: 1;
        scale: 1,1
    }
}

@keyframes navbar_layout_v1_scale-small-to-big__LY9_s {
    0% {
        position: fixed;
        opacity: .8;
        scale: .1,.1
    }

    to {
        position: fixed;
        opacity: 1;
        scale: 1,1
    }
}

@-webkit-keyframes navbar_layout_v1_overlay-animation__zSoqx {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes navbar_layout_v1_overlay-animation__zSoqx {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes navbar_layout_v1_center-popup__1iCFv {
    0% {
        opacity: 0;
        -webkit-transform: scale(.4);
        transform: scale(.4)
    }

    90% {
        opacity: 1;
        -webkit-transform: scale(1.03);
        transform: scale(1.03)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes navbar_layout_v1_center-popup__1iCFv {
    0% {
        opacity: 0;
        -webkit-transform: scale(.4);
        transform: scale(.4)
    }

    90% {
        opacity: 1;
        -webkit-transform: scale(1.03);
        transform: scale(1.03)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.navbar_layout_v1_navbar_layout_v1__09XVx {
    width: 100%;
    min-height: 100%;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.navbar_layout_v1_navbar_layout_v1__09XVx>.navbar_layout_v1_head__tqm_j {
    font-size: 18px;
    padding: 18.5px 15px;
    height: 60px
}

.navbar_layout_v1_navbar_layout_v1__09XVx>.navbar_layout_v1_body__5QYxu {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative
}

.navbar_layout_v1_navbar_layout_v1__09XVx>.navbar_layout_v1_navbar__fjsX2 {
    height: 56px;
    width: 100%;
    z-index: 10;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: fixed;
    bottom: 0
}

@-webkit-keyframes FlexibleArticleV2_placeholderShimmer__SXMKa {
    0% {
        background-position: -468px 0
    }

    to {
        background-position: 468px 0
    }
}

@keyframes FlexibleArticleV2_placeholderShimmer__SXMKa {
    0% {
        background-position: -468px 0
    }

    to {
        background-position: 468px 0
    }
}

@-webkit-keyframes FlexibleArticleV2_fade-in__BrfH8 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes FlexibleArticleV2_fade-in__BrfH8 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes FlexibleArticleV2_right-to-left-page__2MWF7 {
    0% {
        position: fixed;
        right: -300px;
        width: 105%;
        opacity: .8
    }

    to {
        position: fixed;
        right: 0;
        width: 100%;
        opacity: 1
    }
}

@keyframes FlexibleArticleV2_right-to-left-page__2MWF7 {
    0% {
        position: fixed;
        right: -300px;
        width: 105%;
        opacity: .8
    }

    to {
        position: fixed;
        right: 0;
        width: 100%;
        opacity: 1
    }
}

@-webkit-keyframes FlexibleArticleV2_bottom-to-top-page__BDXcU {
    0% {
        position: fixed;
        top: 500px;
        opacity: .8
    }

    to {
        position: fixed;
        top: 0;
        opacity: 1
    }
}

@keyframes FlexibleArticleV2_bottom-to-top-page__BDXcU {
    0% {
        position: fixed;
        top: 500px;
        opacity: .8
    }

    to {
        position: fixed;
        top: 0;
        opacity: 1
    }
}

@-webkit-keyframes FlexibleArticleV2_top-to-bottom-page__OvT5x {
    0% {
        position: fixed;
        top: 0;
        opacity: 1
    }

    to {
        position: fixed;
        top: 500px;
        opacity: 0
    }
}

@keyframes FlexibleArticleV2_top-to-bottom-page__OvT5x {
    0% {
        position: fixed;
        top: 0;
        opacity: 1
    }

    to {
        position: fixed;
        top: 500px;
        opacity: 0
    }
}

@-webkit-keyframes FlexibleArticleV2_scale-small-to-big__JmGBF {
    0% {
        position: fixed;
        opacity: .8;
        scale: .1,.1
    }

    to {
        position: fixed;
        opacity: 1;
        scale: 1,1
    }
}

@keyframes FlexibleArticleV2_scale-small-to-big__JmGBF {
    0% {
        position: fixed;
        opacity: .8;
        scale: .1,.1
    }

    to {
        position: fixed;
        opacity: 1;
        scale: 1,1
    }
}

@-webkit-keyframes FlexibleArticleV2_overlay-animation__UySbL {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes FlexibleArticleV2_overlay-animation__UySbL {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes FlexibleArticleV2_center-popup__rqnJX {
    0% {
        opacity: 0;
        -webkit-transform: scale(.4);
        transform: scale(.4)
    }

    90% {
        opacity: 1;
        -webkit-transform: scale(1.03);
        transform: scale(1.03)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes FlexibleArticleV2_center-popup__rqnJX {
    0% {
        opacity: 0;
        -webkit-transform: scale(.4);
        transform: scale(.4)
    }

    90% {
        opacity: 1;
        -webkit-transform: scale(1.03);
        transform: scale(1.03)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.FlexibleArticleV2_root__KFn3p .FlexibleArticleV2_fullwidth_container__jdaOf {
    margin: 25px auto
}

@media(max-width: 767px) {
    .FlexibleArticleV2_root__KFn3p .FlexibleArticleV2_fullwidth_container__jdaOf {
        margin-top:0
    }
}

.FlexibleArticleV2_root__KFn3p .FlexibleArticleV2_fullwidth_container__jdaOf>.FlexibleArticleV2_widget_container__CDhPH {
    border-radius: 20px
}

.FlexibleArticleV2_root__KFn3p .FlexibleArticleV2_jumbo_wrapper__EF5ZV {
    padding: 0
}

@media(min-width: 1200px) {
    .FlexibleArticleV2_root__KFn3p .FlexibleArticleV2_jumbo_wrapper__EF5ZV {
        display:-ms-flexbox;
        display: flex
    }
}

.FlexibleArticleV2_root__KFn3p .FlexibleArticleV2_jumbo_wrapper__EF5ZV .FlexibleArticleV2_left__YthqI {
    z-index: 10;
    position: sticky;
    top: 0;
    height: 100%;
    width: 100%;
    font-family: RobotoBold,sans-serif;
    color: #00163e
}

@media(min-width: 1200px) {
    .FlexibleArticleV2_root__KFn3p .FlexibleArticleV2_jumbo_wrapper__EF5ZV .FlexibleArticleV2_left__YthqI {
        height:auto;
        position: relative;
        width: 330px;
        margin-right: 40px
    }
}

.FlexibleArticleV2_root__KFn3p .FlexibleArticleV2_jumbo_wrapper__EF5ZV .FlexibleArticleV2_center__OaQnj {
    width: 100%;
    padding-top: 30px
}

@media(min-width: 1200px) {
    .FlexibleArticleV2_root__KFn3p .FlexibleArticleV2_jumbo_wrapper__EF5ZV .FlexibleArticleV2_center__OaQnj {
        padding-top:0
    }
}

.FlexibleArticleV2_root__KFn3p .FlexibleArticleV2_jumbo_wrapper__EF5ZV .FlexibleArticleV2_right__itHgK {
    margin: 0 auto;
    padding: 0 25px
}

@media(min-width: 1200px) {
    .FlexibleArticleV2_root__KFn3p .FlexibleArticleV2_jumbo_wrapper__EF5ZV .FlexibleArticleV2_right__itHgK {
        margin-left:40px;
        -ms-flex-align: start;
        align-items: flex-start;
        width: 240px;
        padding: 0;
        overflow: hidden;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0
    }
}

.FlexibleArticleV2_root__KFn3p .FlexibleArticleV2_jumbo_wrapper__EF5ZV .FlexibleArticleV2_right__itHgK .FlexibleArticleV2_halfContainers__QkRcU {
    width: 100%;
    margin-bottom: 40px
}

@media(min-width: 1200px) {
    .FlexibleArticleV2_root__KFn3p .FlexibleArticleV2_jumbo_wrapper__EF5ZV .FlexibleArticleV2_right__itHgK .FlexibleArticleV2_halfContainers__QkRcU {
        max-height:650px
    }
}

.FlexibleArticleV2_root__KFn3p .FlexibleArticleV2_author__s0Qx9 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.FlexibleArticleV2_root__KFn3p .FlexibleArticleV2_author__s0Qx9>img.FlexibleArticleV2_author_image__ZBtuP {
    width: 32px;
    height: 32px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 10px 0 0
}

.FlexibleArticleV2_root__KFn3p .FlexibleArticleV2_author_label__TOqz_ {
    color: #959595;
    margin-top: 20px;
    margin-bottom: 5px
}

.FlexibleArticleV2_root__KFn3p .FlexibleArticleV2_heading__qh1vS {
    font-family: RobotoMedium,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 46px;
    color: #00163e
}

.FlexibleArticleV2_root__KFn3p .FlexibleArticleV2_footer__BJmd7 {
    background: #f6f7fb
}

.FlexibleArticleV2_root__KFn3p .FlexibleArticleV2_faq_div__99XSV {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin: auto;
    background-color: rgba(0,0,0,0);
    border-radius: 0
}

@media(min-width: 1200px) {
    .FlexibleArticleV2_root__KFn3p .FlexibleArticleV2_faq_div__99XSV {
        width:unset;
        max-width: 1200px
    }
}

.FlexibleArticleV2_root__KFn3p .FlexibleArticleV2_faq_div__99XSV .FlexibleArticleV2_faq_title__1wpqX {
    font-family: RobotoBold,sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center
}

@media(min-width: 1200px) {
    .FlexibleArticleV2_root__KFn3p .FlexibleArticleV2_faq_div__99XSV .FlexibleArticleV2_faq_title__1wpqX {
        font-size:25px;
        line-height: 31px
    }
}

/*# sourceMappingURL=ea5f3270ce9e907a.css.map*/
